*{
    margin: 0;
    padding: 0;
}
#container{
    width: 100%;
    height: 500px;
    background-color: aqua;
    display: flex;
}
.subdiv{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 109);
    font-size: 40px;
}
#a2{
    background-color: lime;
    /* HIGHER THE ORDER VALUE ALIGNMENT WILL BE ON THE RIGHT SIDE */
    order: 3;   
}
#a3{
    background-color: salmon;
    order: 2;
}
#a4{
    background-color: pink;
    order: 0;
}