@media only screen and (orientation:landscape) {
    #container{
        width: 200px;
        height: 200px;
        background-image: url(/Asset/Image/ramcharan.jpeg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    #ntr{
        display: none;
    }
    #ram{
            color: red;
            font-size: 40px;
        }
    
}
@media only screen and (orientation:portrait) {
    #container{
        width: 200px;
        height: 200px;
        background-image: url(/Asset/Image/charminar.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    #ntr{
        color: red;
        font-size: 40px;
    }
    #ram{
        display: none;
    }
    
}