*{
    margin: 0px;
    padding: 0px;
}
nav{
    width: 5vw;
    height: 6vw;
    background-color: blue;
    position: absolute;
    left: 1vw;
    top: 1vw;
    display: flex;
    border-radius: 2px;
    box-shadow: 1px 1px 1px black;
    justify-content: center;
    align-items: center;


}
#icon{
    transition: all 0.5s;
}
#nav:hover #icon{
    transform: rotate(90deg);
}
ul{
    position: absolute;
    top: 5vw;
    left: 5vw;
    list-style: none;
    display: none;
}
li{
    font-size: 5vw;
    width: 30vw;
    background-color: blue;
    padding: 1vw;
    border-radius: 5px;
    color: white;
}
nav:hover ul{
    display: block;
    animation: navbarAnimation 5s both;
}

@keyframes navbarAnimation {
    from{
        transform: translate(-800px);
    }
    to{
        transform: translate(0px);
    }
    
}