#inch
{
    width: 10in;
    height: 10in;
    background-color: red;
}
#cm
{
    width: 10cm;
    height: 10cm;
    background-color:green ;
}
#mm
{
    width: 10mm;
    height: 10mm;
    background-color: blue;
}
#px
{
    width: 10px;
    height: 10px;
    background-color: black;
}
#pt
{
    width: 10pt;
    height: 10pt;
    background-color: yellow;
}
#pc
{
    width: 10pc;
    height: 10pc;
    background-color: purple;
}