*{
    margin: 0px;
    padding: 0px;
}
#animal{
    width: 600px;
    height: 600px;
    /* background-color: coral; */
    background-image: url(/Asset/Image/bike.png);
    background-size:  100% 100%;
    animation-name: animal;
    animation-duration: 15s;
}
@keyframes animal {
    0%{
        background-image: url(/Asset/Image/bike.png);
        background-size: 100% 100%;
    }
    33%{
        background-image: url(/Asset/Image/Ferrari.jpg);
        background-size: 100% 100%;
    }
    66%{
        background-image: url(/Asset/Image/car.jpg);
        background-size: 100% 100%;
    }

}