*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
#backgroundDiv{
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}
#containerBG{
    width: 50%;
    height: 300px;
    /* background-color: blue; */
    position: absolute;
    top: 35%;
    left: 25%;
    animation: containerAnimation 10s linear both alternate ;
}

@keyframes containerAnimation {
    0%{
        transform: rotate(0deg) rotatey(0deg) rotateX(10deg);
    }
    25%{
        transform: rotate(70deg) rotatey(-45deg);

    }
    75%{
        transform: rotate(-100deg) rotatey(90deg) rotateX(120deg);

    }
    75%{
        transform: rotate(-100deg) rotatey(90deg) rotateX(120deg);

    }
    75%{
        transform: rotate(360deg) rotatey(120deg) rotateX(0deg);

    }
    
}

.style{
    width: 50%;
    height: 100%;
    float: left;
    background-position: 2000px;
    background-size: 2000px;
    filter: blur(70px);
}



#left{
    background-image: linear-gradient(75deg,red,purple,lawngreen,royalblue,green,yellow,red);
    animation: leftAnimation 10s linear both infinite alternate;
}
#right{
    background-image: linear-gradient(75deg,green,red,blue,tomato,maroon,green,blue,royalblue);
    animation: rightAnimation 10s linear both infinite alternate-reverse;

}
@keyframes leftAnimation {
    0%{
        background-position:2000px;
        border-radius: 100%;
        transform: skew(0deg);
        
    }
    25%{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        transform: skew(155deg);

    }
    50%{
        border-radius: 81% 19% 88% 12% / 52% 66% 34% 48% ;
        transform: skew(95deg);

    }
    75%{
        border-radius: 81% 19% 46% 54% / 24% 27% 73% 76% ;
        transform: skew(-85deg);

    }
    100%{
        border-radius: 100% 0% 77% 23% / 28% 44% 56% 72% ;
        transform: skew(255deg);

    }
    
}
@keyframes rightAnimation {
    0%{
        background-position:2000px;
        border-radius: 100%;
        transform: skew(0deg);
        
    }
    25%{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        transform: skew(15deg);

    }
    50%{
        border-radius: 81% 19% 88% 12% / 52% 66% 34% 48% ;
        transform: skew(45deg);

    }
    75%{
        border-radius: 81% 19% 46% 54% / 24% 27% 73% 76% ;
        transform: skew(-75deg);

    }
    100%{
        border-radius: 100% 0% 77% 23% / 28% 44% 56% 72% ;
        transform: skew(255deg);

    }
    
}
#loginContainer{
    /* background-color: green; */
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    
}
#loginForm{
    width: 60%;
    height: 60%;
    background-color: rgba(80, 79, 79, 0.315);
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;

}
h1{
    font-size: 40px;
    font-family: "pacifico",cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(216, 244, 255);
    text-align: center;
    text-shadow: 1px 1px 5px black;
}
.inp{
    width: 60%;
    height: 30px;
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    border-bottom: 2px solid royalblue;
    border-radius: 10px;
    box-shadow: 0px 5px 2px rgba(65, 145, 225, 0.30);
    position: relative;
    left: 20%;
    top: 7%;
    padding-top: 10px;
    transform: all
    0.3s;
    
}
#btn{
    position: absolute;
    left: 250px;
    top: 250px;
    border-radius: 8px;
    width: 80px;
    height: 25px;
}